table {
  border-collapse: collapse;
}

#result {
  position: absolute;
  width: 100%;
  max-width: 870px;
  cursor: pointer;
  overflow-y: auto;
  max-height: 400px;
  box-sizing: border-box;
  z-index: 1001;
}
#buybtn {
    position: absolute;
    left: 70%;
    right: 40%; 
    bottom: 5%;
    height:50px;
    width:200px
}
#empty-cartbtn {
    position: absolute;
    left: 40%;
    right: 40%; 
    bottom: 5%;
    height:50px;
    width:200px
}

.link-class:hover {
  background-color: #f1f1f1;
}

.bev-img {
  float: left;
  width: 40%;
  margin-right: 15px;
}

#buybtn {
  position: absolute;
  left: 70%;
  right: 40%;
  bottom: 5%;
  height: 50px;
  width: 200px;
}

#empty-cartbtn {
  position: absolute;
  left: 40%;
  right: 40%;
  bottom: 5%;
  height: 50px;
  width: 200px;
}
